<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Rainy Day Drums</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="keys">
    <button data-key="65" class="key button js-key">
      <kbd data-key="65" class="js-key">A</kbd>
      <span data-key="65" class="sound js-key">clap</span>
    </button>
    <button data-key="83" class="key button js-key">
      <kbd data-key="83" class="js-key">S</kbd>
      <span data-key="83" class="sound js-key">hihat</span>
    </button>
    <button data-key="68" class="key button js-key">
      <kbd data-key="68" class="js-key">D</kbd>
      <span data-key="68" class="sound js-key">kick</span>
    </button>
    <button data-key="70" class="key button js-key">
      <kbd data-key="70" class="js-key">F</kbd>
      <span data-key="70" class="sound js-key">openhat</span>
    </button>
    <button data-key="71" class="key button js-key">
      <kbd data-key="71" class="js-key">G</kbd>
      <span data-key="71" class="sound js-key">boom</span>
    </button>
    <button data-key="72" class="key button js-key">
      <kbd data-key="72" class="js-key">H</kbd>
      <span data-key="72" class="sound js-key">ride</span>
    </button>
    <button data-key="74" class="key button js-key">
      <kbd data-key="74" class="js-key">J</kbd>
      <span data-key="74" class="sound js-key">snare</span>
    </button>
    <button data-key="75" class="key button js-key">
      <kbd data-key="75" class="js-key">K</kbd>
      <span data-key="75" class="sound js-key">tom</span>
    </button>
    <button data-key="76" class="key button js-key">
      <kbd data-key="76" class="js-key">L</kbd>
      <span data-key="76" class="sound js-key">tink</span>
    </button>
  </div>

  <audio data-key="65" src="sounds/clap.wav"></audio>
  <audio data-key="83" src="sounds/hihat.wav"></audio>
  <audio data-key="68" src="sounds/kick.wav"></audio>
  <audio data-key="70" src="sounds/openhat.wav"></audio>
  <audio data-key="71" src="sounds/boom.wav"></audio>
  <audio data-key="72" src="sounds/ride.wav"></audio>
  <audio data-key="74" src="sounds/snare.wav"></audio>
  <audio data-key="75" src="sounds/tom.wav"></audio>
  <audio data-key="76" src="sounds/tink.wav"></audio>


  <script>

    var button = document.querySelectorAll('.js-key');
    for(var i=0; i < button.length; i++){
        button[i].addEventListener('touchstart', playClickSound);
    }

    function playSound(e){
      const audio = document.querySelector(`audio[data-key="${e.keyCode}"]`);
      const key = document.querySelector(`.key[data-key="${e.keyCode}"]`);
      if(!audio) return;// stop the dunction from running all together
      audio.currentTime = 0; //rewind to the start
      audio.play();
      key.classList.add('playing');
    }

    function playClickSound(e){
      console.log(e.srcElement.attributes[0].value, 'event');
      const audio = document.querySelector(`audio[data-key="${e.srcElement.attributes[0].value}"]`);
      const key = document.querySelector(`.key[data-key="${e.srcElement.attributes[0].value}"]`);
      if(!audio) return;// stop the dunction from running all together
      audio.currentTime = 0; //rewind to the start
      audio.play();
      key.classList.add('playing');
    }

    function removeTransition(e) {
      if(e.propertyName !== 'transform') return;
      this.classList.remove('playing');
    }

    const keys = document.querySelectorAll('.key');
    const buttons = document.querySelectorAll('.button');
    keys.forEach(key => key.addEventListener('transitionend', removeTransition));
    buttons.forEach(button => button.addEventListener('transitionend', removeTransition));
    window.addEventListener('keydown', playSound);

</script>
</body>
</html>
